/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public
config
bootstrap
app/Console
app/Exceptions
app/Providers
app/Http/Middleware
app/Http/Controllers/Auth
database
resources/js
resources/lang
resources/sass
tests
.en*
.gitattributes
a*
co*
pac*
php*
ser*
*.yml
.edit*
webp*
chann*
storage
